*{
    margin:0;
    padding:0;
}
hr{
    margin:0;
}
#app{
    margin:20px;
}
#skill{
    height: 160px;
    overflow-y: scroll;
}
.skill_wrap{
    overflow: hidden;
    margin:10px 0;
    font-weight: bold;
}
.skill_wrap.active{
    color:red;
}
.skilLDate{
    float: left;
    width: 50px;
    line-height: 20px;
    text-align: center;
    background: #ececec;
}
.skillName{
    float: left;
    width: 100px;
    line-height: 20px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-left: 10px;
}
.skillScope{
    float: left;
    width: 30px;
    text-align: center;
    line-height: 20px;
}
.skillLengtn{
    float: left;
    height:20px;
    background: blue;
    margin:0 10px;
}